body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.result {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

label, input, select{
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
input, select{
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background-color: #00cc66;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009944;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid;
}
tr, th, td{
    border: 1px solid black;
    padding: 0 10px;
}