.flex-container {
    display: flex;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    width: 800px;
    height: 300px;
}
.column {
    width: 100%;
    align-content: stretch;
    text-align: center;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}
.flex-container2 {
    display: flex;
    margin: auto;
    padding: 15px;
    border: 2px solid black;
    width: 800px;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.box {
    text-align: center;
    background-color: lightblue;
    margin: 10px;
    padding: 30px;

}